*.o
*.la
*.lo
.deps
.libs
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
debian/control
gnuscripts
libtool
Makefile
Makefile.in
src/bin/fastX
src/bin/inspiral_sky_map
src/bin/radiometer
src/bin/tests
src/lib/sphradiometer.pc
src/python/sphradiometer.py
src/python/sphradiometer_wrap.c
stamp-h1
