*.o
*.la
*.lo
*.log
*.trs
.deps
.libs
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
debian/control
gnuscripts
libtool
Makefile
Makefile.in
src/bin/fastX
src/bin/inspiral_sky_map
src/bin/radiometer
src/lib/sphradiometer.pc
src/python/sphradiometer.py
src/python/sphradiometer_wrap.c
test/correlator_validate
test/product_validate
test/rotation_validate
test/s2kit_validate
test/sh_series_validate
test/tests
stamp-h1
